<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Caffe demos" name="description">
    <meta content="BVLC (http://bvlc.eecs.berkeley.edu/)" name="author">

    <title>Caffe Demos</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
        $(document).ready(
            function () {
                $('#classifyfile').attr('disabled', true);
                $('#imagefile').change(
                    function () {
                        if ($(this).val()) {
                            $('#formupload').submit();
                        }
                    }
                );
            }
        );
    </script>

    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 1.5em;
            color: #232323;
            -webkit-font-smoothing: antialiased;
        }

        h1, h2, h3 {
            font-family: Times, serif;
            line-height: 1.5em;
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>

<body>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1><a href="/">Caffe Demos</a></h1>
        <p>
            The <a href="http://caffe.berkeleyvision.org">Caffe</a> neural network library makes implementing
            state-of-the-art computer vision systems easy.
        </p>
    </div>

    <div>
        <h2>Classification</h2>
        <a href="/classify_url?imageurl=http%3A%2F%2Fi.telegraph.co.uk%2Fmultimedia%2Farchive%2F02351%2Fcross-eyed-cat_2351472k.jpg">Click
            for a Quick Example</a>
    </div>

    {% if has_result %}
    {% if not result[0] %}
    <!-- we have error in the result. -->
    <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file?</div>
    {% else %}
    <div class="media">
        <a class="pull-left" href="#"><img class="media-object" height="192" imagesrc src={{ width="192" }}></a>
        <div class="media-body">
            <div class="bs-example bs-example-tabs">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#infopred">Maximally accurate</a></li>
                    <li><a data-toggle="tab" href="#flatpred">Maximally specific</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in active" id="infopred">
                        <ul class="list-group">
                            {% for single_pred in result[2] %}
                            <li class="list-group-item">
                                <span class="badge">{{ single_pred[1] }}</span>
                                <h4 class="list-group-item-heading">
                                    <a href="https://www.google.com/#q={{ single_pred[0] }}" target="_blank">{{
                                        single_pred[0] }}</a>
                                </h4>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="flatpred">
                        <ul class="list-group">
                            {% for single_pred in result[1] %}
                            <li class="list-group-item">
                                <span class="badge">{{ single_pred[1] }}</span>
                                <h4 class="list-group-item-heading">
                                    <a href="https://www.google.com/#q={{ single_pred[0] }}" target="_blank">{{
                                        single_pred[0] }}</a>
                                </h4>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p> CNN took {{ result[3] }} seconds. </p>
    {% endif %}
    <hr>
    {% endif %}

    <form action="classify_url" method="get" role="form">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" id="imageurl" name="imageurl" placeholder="Provide an image URL"
                       type="text">
                <span class="input-group-btn">
              <input class="btn btn-primary" id="classifyurl" type="submit" value="Classify URL"></input>
            </span>
            </div><!-- /input-group -->
        </div>
    </form>

    <form action="classify_upload" class="form-inline" enctype="multipart/form-data" id="formupload" method="post"
          role="form">
        <div class="form-group">
            <label for="imagefile">Or upload an image:</label>
            <input id="imagefile" name="imagefile" type="file">
        </div>
        <!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
    </form>
</div>

<hr>
<div id="footer">
    <div class="container">
        <p>&copy; BVLC 2014</p>
    </div>
</div>
</body>
</html>
